@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CC Route Planner</h1>
</div>



<div class=" text-center" style="padding-top: 30px" >
    <img src="~/images/freeway.jpg" alt="Freeway" class= "home-image" />
</div>